<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>我的测试站点-$title</title>
<link href="$rc.contextPath/assert/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"／>
<link href="$rc.contextPath/css/style.css" rel="stylesheet" type="text/css"／>
</head>
<body>
	<header class="header">
		<div>
			<a href="$rc.contextPath/">首页</a>
			<a href="$rc.contextPath/userlist">用户列表</a>
		</div>
	</header>
	<div class="container">$screen_content</div>
	<footer class="footer">
		<div>
			<p style="float:left">&copy; Hylun 2017</p>
			<p style="float:right">
				Powered by <a href="http://my.oschina.net/alun" target="_blank">Alun</a>
			</p>
		</div>
	</footer>
	<script src="$rc.contextPath/assert/jquery/jquery.min.js"></script>
	<script src="$rc.contextPath/assert/bootstrap/js/bootstrap.min.js"></script>
	#if($alertMsg)<script>alert('$alertMsg')</script>#end
</body>
</html>